<div>
    <div class="page-header">
        <h1>Weather Data for {{weatherCtrl.location.name}} <small>Coordinates: {{weatherCtrl.location.long}},{{weatherCtrl.location.lat}}</small></h1>
    </div>
    <div class="col-sm-12" id="chartcontainer">
        <wui-chart x="weatherCtrl.dayRange" y="weatherCtrl.data.temperature"></wui-chart>
    </div>
    <div class="col-sm-12" id="datacontainer">
        <table class="table table-striped table-responsive">
            <tr>
                <th>Hour</th>
                <th ng-repeat="column in weatherCtrl.tableConfig.columnNames">
                    {{column}}
                </th>
            </tr>
            <tr ng-repeat="hour in weatherCtrl.dayRange">
                <td>Hour: {{hour}}</td>
                <td ng-repeat="field in weatherCtrl.tableConfig.columnKeys">{{weatherCtrl.data[field][hour]}}</td>
            </tr>
        </table>
    </div>
</div>